extends layout

block content
  h1= title
  - var images_names=['image1.jpg','image2.jpg','image3.jpg','image4.jpg','image5.jpg']
  - for(let i=0;i<3;i++)
   - let j=Math.floor(Math.random()*5)
   img(src=`images\\${images_names[j]}`,alt=`images is ${images_names[j]}`,height="300px",width="300px")